.introduction {
  font-size: 1.25rem;
  margin: auto;
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detailed-blog {
    min-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-items: center;
  }
  .title {
    font-weight: bold;
    font-size: 40px;
  }
  .created-by {
    display: flex;
    min-width: 750px;
    justify-content: space-between;
  }
  .content {
    max-width: 750px;
  }
}
